.ex-1-square:hover{
  background-color: red;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square:hover{
  border-radius: 100px;
}

.ex-4-square:hover{
  background-color: transparent;
}

.ex-5-square:hover{
  transform: scale(1.5);
}
.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition: 2s;
}
.ex-7-img:hover{
  filter: grayscale(50%);
  filter: sepia(50%);
}

.ex-8-img{
  transition: 2s;
}
.ex-8-img:hover{
  border-radius: 20px;
  filter: grayscale(30%);
  filter: saturate(70%);
}

.ex-9-img{
  transition: 2s;
}
.ex-9-img:hover{
  border-radius: 20px;
  transform: scale(1.5);
  filter: grayscale(30%);
  filter: saturate(70%);
}

.ex-10-icon{
  animation-name: orario;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes orario {
  100%{
    transform: rotate(1turn);
  }
}
